* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Sunflower:wght@300&display=swap");

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
}
.head {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 91%;
  align-items: center;
  height: 64px;
}

.logo {
  margin-top: 4px;
  position: relative;
}
.logo-bold {
  position: absolute;
  right: 0;
}
.sun {
  width: 26px;
  height: 26px;
}
.search {
  width: 34px;
  height: 34px;
}
.login {
  width: 80px;
  height: 32px;
  background-color: #212529;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
}

.headiv {
  width: 172px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.a {
  height: 2000px;
  background-color: #f8f9fa;
}
