* {
  margin: 0;
  padding: 0;
}
/*------------------------Header---------------------------*/
@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
}
.head {
  display: flex;
  justify-content: space-between;
  width: 91%;
  align-items: center;
  height: 64px;
}
.logo {
  margin-top: 4px;
  position: relative;
}
.logo-bold {
  position: absolute;
  right: 0;
}
.headiv {
  margin-right: -6px;
  width: 178px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sun {
  width: 24px;
  height: 24px;
}
.search {
  margin-bottom: -4px;
  margin-right: -2px;
  width: 32px;
  height: 32px;
}
.login {
  width: 80px;
  height: 32px;
  background-color: #212529;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
}
#navi {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
}
nav {
  font-family: "HallymGothic-Regular";
  margin-top: 1.5rem;
  width: 90.8%;
  height: 48px;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -10px;
}
.header-left {
  display: flex;
  align-items: center;
  width: 20rem;
}
.trendingRecent {
  width: 14rem;
  display: flex;
  justify-content: space-around;
}
.trending {
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
  &::after {
    opacity: 1;
  }
}
.recent {
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
  &::after {
    opacity: 1;
  }
}
.navTag {
  height: 2rem;
  width: 6rem;
  padding: 0 0.5rem;
  border: none;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;
  border-radius: 4px;
}
.up {
  width: 24px;
  margin-bottom: -5px;
  margin-right: 0.5rem;
}
.clock {
  width: 23px;
  margin-bottom: -5px;
  margin-right: 0.5rem;
}
.menu {
  width: 16px;
  opacity: 0.5;
}
.a {
  height: 3000px;
  background-color: #f8f9fa;
}

/*------------------------contents---------------------------*/

#c-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: #f8f9fa;
}

.c-post {
  width: 20rem;
  height: 25rem;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  transition: 0.5s;
  &:hover {
    margin-top: 0.5rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 10px 0px;
  }
}
