@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Fira+Sans:wght@500&family=Sunflower&display=swap");
.loginModal-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginModal {
  width: 606px;
  height: 480px;
  display: flex;
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
}

.login-leftBox {
  width: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  & h4 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #5d6368;
    text-align: center;
    margin-top: 1.5rem;
  }
}
.login-rightBox {
  flex: 1 1 0%;
  background: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  & .close-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.25rem;
    height: 24px;
  }
  & .close {
    width: 14px;
    height: 14px;
    opacity: 0.7;
    margin-top: 5.2px;
    margin-right: 5.4px;
  }
}
.welcom-wrap {
  display: flex;
  text-align: center;
}
.welcome-ch {
  width: 166px;
  height: 116px;
  margin-top: -12px;
}
.login-wrap {
  & .login-tit {
    font-size: 1.3125rem;
    color: #161718;
    margin-top: 1px;
  }
}
.emailLogin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 3px;
  font-size: 16px;
  color: #858d96;
}
.email-input {
  display: flex;
  line-height: 1.5;
  padding-top: 2px;
  height: 48px;
  & input {
    font-size: 1rem;
    padding: 0.844rem;
    outline: none;
    border: 1px solid #d3d8dd;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: rgb(49, 48, 48);
    flex: 1 1 0%;
    font-family: "Athiti", sans-serif;
    font-weight: 600;
    padding-top: 16px;
    padding-left: 16px;
  }
  & input:focus {
    border: 1px solid #20c393;
  }
  & button {
    width: 6rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0.844rem;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: #20c393;
    font-weight: bold;
    cursor: pointer;
  }
}
.socialLogin {
  & h3 {
    margin-top: 2.6rem;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #858d96;
  }
  & section {
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-around;

    & div {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & div img {
      height: 20px;
      width: 20px;
    }
    & .github {
      background-color: #1b1c1d;
      border-radius: 100px;
    }
    & .google {
      border: 1px solid #d2dadf;
      border-radius: 100px;
      width: 46px;
      height: 46px;
    }
    & .facebook {
      background-color: #295396;
      border-radius: 100px;
      & img {
        height: 28px;
        width: 28px;
      }
    }
  }
}
.a {
  height: 2000px;
}
